/*font-family: 'Quicksand', sans-serif;*/
html{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    background-color:#6944ff;
    font-family:'Quicksand', sans-serif;
}
.container{
    display:flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    align-items: center;
}
.fotorostro img{
    width: 160px;
    height: 160px; 
}

h2{
   color:#6944ff;
}
.face img, .twit img, .insta img, .git img{
    width: 55px;
    height: 55px;
    border-radius: 55px;

}
.redes{
    display: flex;
    flex-wrap:wrap;
    width:300px;
    height: 25px;
    justify-content: space-around;

}