html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f7f7fc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}
.puntos,
p {
  font-size: small;
}
.ratings {
  margin-top: 5px;
  margin-bottom: 30px;
}
.estrellas {
  padding: 8px;
  background-color: #f7f7fc;
  border-radius: 50px;
}
.card {
  width: 386px;
  height: 431px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 20px #e4e7f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blue {
  color: #2c61f1;
}
.contenedor {
  width: 175px;
  height: 15px;
  background-color: #f7f7fc;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.progreso {
  background-color: #fccc4d;
  height: 15px;
  border-radius: 15px;
}

.star {
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px;
}

.p84 {
  width: 84%;
}
.p9 {
  width: 30%;
}
.p4 {
  width: 20%;
}
.p2 {
  width: 10%;
}
.p1 {
  width: 5%;
}
