html, body{
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction:column;
    font-size: 50px;
    font-family: sans-serif;
}
header, footer{
    height: 20%;
    background-color: rgb(150, 78, 202);
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    display:flex;
    flex-direction: row;
    height: 60%;
    width: 100%;
}
.izquierda, .derecha{
background-color: rgb(241, 155, 123);
display: flex;
justify-content: center;
align-items: center;
width: 20%;
}
.centro{
background-color: rgb(233, 105, 130);
display: flex;
justify-content: center;
align-items: center;
width: 60%;
}

