html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #e7e7f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  justify-content: center;
}
.clipboard {
  background-color: #000000;
  color: white;
  font-size: small;
  border-radius: 50px;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
}
.tarjeta {
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  text-align: center;
  margin: 10px;
}

.seleccionado {
  box-shadow: 0 0 10px gray;
  position: relative;
  top: -10px;
}

.seleccionado p {
  font-weight: bold;
}

.negrita {
  font-weight: bold;
}
h2 {
  color: black;
  font-weight: bold;
  margin: 60px;
}
.paletas {
  display: flex;
}
.paleta1 {
  background-color: #ebebf3;
}
.paleta2 {
  background-color: #a3b2c2;
}
.paleta3 {
  background-color: #fbaba4;
}
.paleta4 {
  background-color: #7c7c84;
}
.paleta5 {
  background-color: #af4884;
}
.p {
  width: 131px;
  height: 206px;
  border-radius: 5px;
}
.violeta {
  width: 300px;
  background-color: #6c62d6;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 50px;
  justify-content: center;
  border: none;
}
.just {
  margin-bottom: 80px;
  font-weight: bold;
  font-size: small;
}
.click {
  background-color: white;
  border-radius: 50px;
  padding: 10px;
  border: none;
}
