body {
    background: burlywood;
    display: flex;
    height: 100vh;
   }
.conteiner{
    display: flex;
    background: rgb(29, 28, 28);
    width: 800px;
    height: 600px;
}
.planes{
    background: rgb(99, 94, 94);
}